
<md-grid-list cols="5" rowHeight="60px">

		<md-grid-tile colspan ='2' rowspan='6'>
		<div class="user-warning">
			<h1>{{title}}</h1>
			 <h2>WARNING！！！！</h2>
			 Hello,这是一个测试项目，本项目不会收集你的个人信息，但也不能保证你所输入信息的安全。
			 所以，请不要输入你的真实信息。
		</div>
		</md-grid-tile>
	<md-grid-tile rowspan ='1'></md-grid-tile>
	    <md-grid-tile colspan ='3' rowspan ='4'>
	    <form #RegisterForm="ngForm">
		    <div>
		    	<md-input-container>
				  	<input mdInput placeholder="请输入邮箱" class="form-control"  [(ngModel)]="userInfo.email" type="email" required name="email" #spy>

				  	<md-hint>Note:邮箱可用于找回密码</md-hint>
				  	<md-error>请输入合法的邮箱地址</md-error>
		  		</md-input-container>
		    </div>
	    	<div>
	    		<md-input-container>
	  				<input mdInput placeholder="请输入密码" class="form-control" [(ngModel)]="userInfo.password" type="password" required name="pwd">
	  			</md-input-container>
	    	</div>
	  		<div>
	  			<md-input-container>
	  				<input mdInput placeholder="请确认密码" class="form-control" [(ngModel)]="userInfo.repassword" type="password" required name="repwd" #repwd="ngModel">
	  			</md-input-container>
	  			<div [hidden]="repwd.pristine || userInfo.repassword === userInfo.password">
	  				两次密码不一致
	  			</div>
	  		</div>
	  		<div>
	  			<button type="submit" md-raised-button [disabled]="!RegisterForm.form.valid || (userInfo.repassword !== userInfo.password)" (click)="onSubmit(userInfo.email,userInfo.password); RegisterForm.reset()" >提交</button>
	  		</div>
	    </form>
	    </md-grid-tile>
</md-grid-list>
