<md-sidenav-container [ngClass]=sidenavClass>
  <md-sidenav mode="push" #sidenav class="sidenav" (open-start)="handleOpen()" (close-start)="handleClose()">
      <md-nav-list md-nav-list *ngFor="let item of menuList">
        <a href="{{item.url}}" target="{{item.target}}">{{item.name}}</a>

      </md-nav-list>
      <md-nav-list><a routerLink="/lab">Laboratory</a></md-nav-list>
  </md-sidenav>
  <!-- <i class="material-icons">menu</i> -->


  <div class="sidenav-btn">
			<i [ngClass]=classArray (click)="sidenav.open()">&#xE5D2;</i>
  </div>
</md-sidenav-container>

