<div>
  <md-toolbar style="background:#3f51b5;color:#fff;">

    <nav md-tab-nav-bar color="secondary" style="width:80%;border-bottom:none;margin: 0 auto;">
      <a md-tab-link routerLink="/authorization/login" style="display:block;width:50%;float:left;color:#fff" routerLinkActive="active">  {{title}}</a>
      <a md-tab-link routerLink="/authorization/register" style="display:block;width:50%;float:left;color:#fff" routerLinkActive="active">注册</a>
    </nav>
  </md-toolbar>

  <router-outlet style="color:#000;"></router-outlet>
</div>
