<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="push" #sidenav class="sidenav">
    <mat-nav-list>
      <a *ngFor="let item of menuList"  (click)="sidenav.close()" mat-list-item  href="{{item.url}}" target="{{item.target}}">{{item.name}}</a>
      <a mat-list-item (click)="sidenav.close()" routerLink="/magic">Laboratory</a>
    </mat-nav-list>
  </mat-drawer>
  <div class="sidenav-btn">
    <i [ngClass]=classArray (click)="sidenav.toggle()">&#xE5D2;</i>
  </div>
  <router-outlet>
  </router-outlet>
</mat-drawer-container>
