<div style="background: #3f51b5;height: 100%;">
    <mat-toolbar>
        <h3>{{title}}</h3>
      </mat-toolbar>
      <mat-card>
        <div>
            <a href="https://islasher.com/vue-data-board/" target="_blank" >
              vue-data-board
            </a>
            <span style="float: right;">
                <a class="github-button" href="https://github.com/dongsuo/vue-data-board" data-show-count="true" aria-label="Star dongsuo/vue-data-board on GitHub">Star</a>
            </span>
        </div>
          <p>A Data Analysis Board in Vue.</p>
        </mat-card>
      <mat-card>
        <div>
            <a href="https://islasher.com/vue-terminal/" target="_blank" >vue-terminal-emulator</a>
            <span style="float: right;">
              <!-- Place this tag where you want the button to render. -->
              <a class="github-button" href="https://github.com/dongsuo/vue-terminal" data-show-count="true" aria-label="Star dongsuo/vue-terminal on GitHub">Star</a>
            </span>
        </div>
        <p>A terminal emulator in Vue</p>
      </mat-card>
      <mat-card *ngFor="let item of links">
        <a routerLink="{{item.link}}" >{{item.title}}</a>
        <p>{{item.description}}</p>
      </mat-card>
</div>

