<md-grid-list cols="5" rowHeight="60px">
  <md-grid-tile rowspan='1'></md-grid-tile>
  <md-grid-tile colspan='5' rowspan='4'>
    <form #loginForm="ngForm" style="margin: 0 auto;">
      <md-input-container>
        <input mdInput [(ngModel)]="userInfo.email" name="email" required placeholder="请输入邮箱" type="email">
        <md-hint>Note:邮箱可用于找回密码</md-hint>
        <md-error>请输入合法的邮箱地址</md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput required [(ngModel)]="userInfo.password" name="password" placeholder="请输入密码" type="password">
      </md-input-container>
      <button [disabled]="!loginForm.form.valid" md-raised-button (click)="onSubmit(userInfo.email,userInfo.password); loginForm.reset()">提交</button>
    </form>

  </md-grid-tile>

</md-grid-list>
