<md-toolbar>
    <h3>Chating Room</h3>
</md-toolbar>
<div class="container">
    <div class="left-wraper">
    <div class="name">
      <div><span></span><span id="changeName">修改</span></div>
    </div>
    <h2>聊天室列表</h2>
      <ul class="room-list">
        <li>默认聊天室</li>
      </ul>
    </div>

    <div class="message-window">
      <h2>默认聊天室</h2>
      <div class="message-list">

      </div>
      <form id="message-send">
        <textarea id="message-content" cols="30" rows="7" placeholder="请在此输入消息"></textarea>
        <input type="submit" value="发送">
      </form>
    </div>
  </div>
