<div style="background: #3f51b5;height: 100%;min-height: 500px;overflow: hidden;">
    <div class="container">
        <div class="left-wraper">
          <div class="name">
            <div (click)="openDialog()"><span>{{name}}</span><span id="changeName">修改</span></div>
          </div>
          <h2>聊天室列表</h2>
            <div *ngFor="let item of roomList" [class]="item.type">
              <md-card >{{item.room}}</md-card>
            </div>
            <button md-raised-button (click)="addRoom()">新建房间</button>
        </div>

        <div class="message-window">
                  <h3>Chating Room</h3>
          <div class="message-list">
            <p *ngFor="let item of messages" [class]="item.type ">{{item.text}}</p>
          </div>
          <div id="message-send">
            <textarea mdInput id="message-content" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="请在此输入消息"></textarea>
            <button md-raised-button (click)="sendMessage()">发送</button>
          </div>
        </div>
      </div>
</div>

