h2,h3,ul,li,p,div{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000
}

h3 {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: 45px;
  border-bottom: 1px solid #ccc;
  line-height: 45px;
}

#pop-ups {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(180, 180, 180, 0.7);
}

.ui-container{
  background: #3f51b5;
  height: 100%;
  min-height: 500px;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 750px;
  height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.left-wraper {
  float: left;
  width: 175px;
  height: 100%;
  color: #ccc;
  background: #444;
  text-align: center;
}

.left-wraper .name {
  text-align: left;
  height: 2rem;
  font-size: 1.2rem;
  text-indent: 1rem;
  line-height: 2rem;
}

.left-wraper .name span:nth-of-type(2) {
  font-size: 0.6rem;
  cursor: pointer;
  margin-left: 10px;
}

.left-wraper .name span:nth-of-type(2):hover {
  text-decoration: underline;
}

.left-wraper h2 {
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
}

.left-wraper button{
  margin: 0 auto;
  /* width: 100%; */
  color:#000;
  margin-top: 10px;
}

mat-card{
  border-radius: 0;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  cursor: pointer;
  text-align: left;
  font-size: .8rem;
}
mat-card i{
  position: absolute;
  right: 0;
  color: rgba(96, 96, 96, 0.5);
  padding-right: 10px;
  top: 0;
  bottom: 0;
  line-height: 35px;
  font-size: 18px;
}
div.active mat-card{
  background: #c1c1c1;
}

.message-window {
  height: 100%;
  position: relative;
  margin-left: 175px;
  background: #eee;
  width: 525px;
  /* padding-bottom: 150px; */
  /* overflow-y: scroll; */
}

.message-window h2 {
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #d6d6d6;
}

.message-window .message-list {
  height: 405px;
  padding:0 10px;
  overflow-y: scroll;
}

.message-window .message-list p{
  margin:10px 5px;
}

.message-list .self{
  text-align:right;
}

.message-window button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#message-send{
  position: absolute;
  font-size:16px;
  height: 150px;
  bottom: 0;
  padding: 5px;
  background: #fff;
}

#message-content{
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  resize: none;
  outline: none;
}

mat-hint {
  color: #F56C6C;
  display: block;
  width: 100%;
  text-align: center;
}
